<head><style>
  .borderexample {
    width: 70px;
    height:50px;
  }
</style></head>
<div>
  <img [src]="Bilder[counter]" width="500" height="270">
</div>
<div>
  <button (click)="onNext()">Next Image</button>
</div>
<div>
  <input type="text" placeholder="Url" (input)="addUrl($event)">
</div>
<div id='Fehlermeldung' class="borderexample"> <p *ngIf="status" style="padding: 10px; border: 2px solid #ff0000;"
>Failed!</p> </div>
<div>
<table><tr *ngFor="let url of Bilder"><td>{{url}}</td><td>  <button (click)="deleteurl(url)">Delete</button>
</td></tr></table>
</div>

