<head><style>
  div{
    margin-left: 50px;
    margin-top: 50px;
  }
  .borderexample {
    width: 80px;
    height:50px;
  }
  table,tr,td{
    border:1px ;
    border-radius:10px
  }
</style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div>
  <img [src]="Bilder[counter]" width="500" height="270">
</div>
<div>
  <button (click)="onNext()">Next Image</button>
</div>
<div>
  <input type="text" placeholder="Url" (input)="addUrl($event)">
</div>
<div id='Fehlermeldung' class="borderexample"> <p *ngIf="status==1" style="padding: 10px; border: 2px solid #ff0000;"
>Failed!</p><p *ngIf="status==2" style="padding: 10px; border: 2px solid #22ff00;"
>Success!</p> </div>
<div>
<table>
  <tr *ngFor="let url of Bilder">
    <td style="width:20px;
    text-align:center">{{returntest(url)}}</td>
    <td>{{url}}</td>
    <td style="width:100px;
    text-align:center"><button (click)="deleteurl(url)"><span class="glyphicon glyphicon-trash" style="color:red"></span></button></td>
  </tr>
</table>
</div>

